.bg-custom {
    background: #DF3821;
    /*height: 100px;*/
}

.right-position {
    margin-top: -65px;
    margin-right: 70px;
}

.authColor {
    color: #ffffff;
}

.authColor:hover {
    color: #ffe0e0;
}

a:hover {
    text-decoration: none;
}


