.bg-custom {
    background: #DF3821;
}

.right-position {
    margin-right: 120px;
}

.left-position {
    margin-left: 120px;
}

#divider {
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff; !important;
}

#text-color {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}


